.MainContactDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.contactDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
  border: 1px solid white;
}
.contactHeading {
  margin: 10px;
  padding: 10px;
}
.txtField {
  margin: 10px;
  padding: 5px;
}
.emailField {
  margin: 10px;
  padding: 5px;
}
.msgField {
  height: 90px;
  width: 206px;
}
.submitButton {
  height: 35px;
  width: 100px;
}
.sub {
  display: flex;
  align-items: center;
  justify-content: center;
}
